/* .title {
    background-color: red;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #644bff;
    padding: 0 20px;
}

::selection {
    color: #fff;
    background: #664AFF;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}*/

/* div {
    width: 220px;
    padding: 25px;
    border: 3px solid green;
}*/

:root {
    --detail-color: #D10294;
    --section-color: #616161;
    --white-color: #F8F8FF;
    --header-color: #444649;
}

body {
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    padding: 70px 0 70px 0;
    color: var(--section-color);
    line-height: 11pt;
    position: relative;}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box; }

section .flex-50-gt-sm {
    display: block;
}

section:nth-of-type(2) {
    height: calc(78.3vh + 53px);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.flex.wrap {
    flex-wrap: wrap;}

.flex.row {
    flex-direction: row;
}

.header {
    font-size: 25pt;
    position: relative;
    color: var(--header-color);
    position: relative;
}

.header-bar {
    margin: 25px 0 60px 0;
    width: 70px;
    height: 4px;
    background: var(--header-color);
}

.highlight {
    color: var(--detail-color);
}

.label {
    font-size: 14pt;
    font-weight: 500;
}

.upper {
    text-transform: uppercase;
}

@media screen and (min-width: 290px){
    .header {
        font-size: 18pt;
    }
}

@media screen and (min-width: 600px){
    body {
        font-size: 12pt;
    }

    section {
        line-height: 18pt;
        padding: 100px 0 130px 0;}

    section .container {
        padding: 0 10px;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        font-size: 30pt;
    }

    .header-bar {
        margin: 25px 0 50px 0;
    }

    .label {
        font-size: 18pt;
    }
}

@media screen and (min-width: 960px){
    .flex.row-gt-sm {
        flex-direction: row;}

    .flex-50-gt-sm {
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        max-height: 100%;
        box-sizing: border-box;
    }
}

/* ITEM */

.within-list {
    cursor: pointer;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

#listed:nth-child(odd):hover {
    cursor: pointer;
}

/* FIXED LIST OF COLORS */
#color-select {
    display: flex;
    padding: 5px 10px 0 0;
}

.color-box {
    border: solid 1px #929292;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-left: 5px;
}
