/* .title {
    background-color: red;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #644bff;
    padding: 0 20px;
}

::selection {
    color: #fff;
    background: #664AFF;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}*/

/* div {
    width: 220px;
    padding: 25px;
    border: 3px solid green;
}*/

/* :root {
    --detail-color: #D10294;
    --section-color: #616161;
    --white-color: #F8F8FF;
    --header-color: #444649;
}

body {
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    padding: 70px 0 70px 0;
    color: var(--section-color);
    line-height: 11pt;
    position: relative;}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box; }

section .flex-50-gt-sm {
    display: block;
}

section:nth-of-type(2) {
    height: calc(78.3vh + 53px);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.flex.wrap {
    flex-wrap: wrap;}

.flex.row {
    flex-direction: row;
}

.header {
    font-size: 25pt;
    position: relative;
    color: var(--header-color);
    position: relative;
}

.header-bar {
    margin: 25px 0 60px 0;
    width: 70px;
    height: 4px;
    background: var(--header-color);
}

.highlight {
    color: var(--detail-color);
}

.label {
    font-size: 14pt;
    font-weight: 500;
}

.upper {
    text-transform: uppercase;
}

@media screen and (min-width: 290px){
    .header {
        font-size: 18pt;
    }
}

@media screen and (min-width: 600px){
    body {
        font-size: 12pt;
    }

    section {
        line-height: 18pt;
        padding: 100px 0 130px 0;}

    section .container {
        padding: 0 10px;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        font-size: 30pt;
    }

    .header-bar {
        margin: 25px 0 50px 0;
    }

    .label {
        font-size: 18pt;
    }
}

@media screen and (min-width: 960px){
    .flex.row-gt-sm {
        flex-direction: row;}

    .flex-50-gt-sm {
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        max-height: 100%;
        box-sizing: border-box;
    }
}

.within-list {
    cursor: pointer;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

#listed:nth-child(odd):hover {
    cursor: pointer;
}

#color-select {
    display: flex;
    padding: 5px 10px 0 0;
}

.color-box {
    border: solid 1px #929292;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-left: 5px;
}*/

/* @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43a047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4caf50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #ef3b3a;
}

body {
    background: #76b852;
    background: -webkit-linear-gradient(right, #76b852, #8dc26f);
    background: -moz-linear-gradient(right, #76b852, #8dc26f);
    background: -o-linear-gradient(right, #76b852, #8dc26f);
    background: linear-gradient(to left, #76b852, #8dc26f);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.text-center {
    text-align: center;
}*/





